
.icon-soundcloud:before { content: '\f089'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-weibo:before { content: '\f18a'; } /* '' */
.icon-wechat:before { content: '\f1d7'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */