*{
	margin: 0;
	padding: 0;
}

body{
	color: #878787;
	background-color: #f1f1f1;
	line-height: 1.4;
    font-family: SuisseIntl-Regular-WebS,sans-serif;
    font-weight: 400;
    font-size: 15px;
    font-size: .9375rem;
    background-color: #FFFFFF;
}
a{
	text-decoration:none;
}
.fjAlls{
	width: 1358px;
	margin: 0 auto;
}
.null{

	clear: both;
}

/*页头*/
.header-top-con{
	width: 1358px;
	height: 60px;
	background-color: #ffffff;
	position: fixed;
	z-index: 5;
	top: 0;
	border-bottom: 1px solid #F1F1F1;
}
/*菜单按钮'三'开始*/
.header-top-con .header-mobile-buttons{
	width: 60px;
	height: 60px;
	float: left;
	border-right: 1px solid #f1f1f1;
	position: relative;
}
.header-top-con .header-mobile-buttons .butts{
	width: 25px;
	height: 25px;
	margin: 0 20px 0 13px;

}
.header-top-con .header-mobile-buttons:hover{
	background-color: #000000;
	transition: all .3s ease-in-out 0s;
}
.header-top-con .header-mobile-buttons:hover #caidan{
	background-color: #000000;
	color: #FFFFFF;
	transition: all .3s ease-in-out 0.1s;
}
.header-top-con .header-mobile-buttons #caidan{
	text-align: center;
	line-height: 60px;
	color: #000000;
	font-size: 22px;
}

.header-mobile-buttons .header-nav-menu-dropdown{
	width: 1358px;
	height: 275px;
	margin-top: 35px;
	background-color: #000000;
	position: absolute;
	border-top: 0.5px solid #f1f1f1;
	display: none;
	
}
.header-mobile-buttons .header-nav-menu-dropdown .footecol-max8{
	width: 846px;
	height: 192px;
	float: left;
	margin: 40px 0 0 40px;
}
.header-mobile-buttons .header-nav-menu-dropdown .footecol-max8 .footemaxa{
	width: 197px;
	height: 94px;
	float: left;
	border: 0.1px solid #303030;
	background-color:#000000 ;
}
.header-mobile-buttons .header-nav-menu-dropdown .footecol-max8 .footemaxa:hover{
	transition: all .3s ease-in-out 0s;
	background-color:#FFFFFF ;
}
.header-mobile-buttons .header-nav-menu-dropdown .footecol-max8 .footemaxb{
	width: 197px;
	height: 94px;
	float: left;
	border: 0.1px solid #303030;
	background-color:#000000 ;
}
.header-mobile-buttons .header-nav-menu-dropdown .footecol-max8 .footemaxb:hover{
	transition: all .3s ease-in-out 0s;
	background-color:#FFFFFF ;
}
.header-mobile-buttons .header-nav-menu-dropdown .footecol-max8 .footemaxc{
	width: 197px;
	height: 94px;
	float: left;
	border: 0.1px solid #303030;
	background-color:#000000 ;
}
.header-mobile-buttons .header-nav-menu-dropdown .footecol-max8 .footemaxc:hover{
	transition: all .3s ease-in-out 0s;
	background-color:#FFFFFF ;
}
.header-mobile-buttons .header-nav-menu-dropdown .footecol-max8 .footemaxd{
	width: 197px;
	height: 94px;
	float: left;
	border: 0.1px solid #303030;
	background-color:#000000 ;
}
.header-mobile-buttons .header-nav-menu-dropdown .footecol-max8 .footemaxd:hover{
	transition: all .3s ease-in-out 0s;
	background-color:#FFFFFF ;
}

.header-mobile-buttons .header-nav-menu-dropdown .footecol-max8 .footemaxe{
	width: 197px;
	height: 94px;
	float: left;
	border: 0.1px solid #303030;
	background-color:#000000 ;
}
.header-mobile-buttons .header-nav-menu-dropdown .footecol-max8 .footemaxe:hover{
	transition: all .3s ease-in-out 0s;
	background-color:#FFFFFF ;
}

.header-mobile-buttons .header-nav-menu-dropdown .footecol-max8 .footemaxf{
	width: 197px;
	height: 94px;
	float: left;
	border: 0.1px solid #303030;
	background-color:#000000 ;
}
.header-mobile-buttons .header-nav-menu-dropdown .footecol-max8 .footemaxf:hover{
	transition: all .3s ease-in-out 0s;
	background-color:#FFFFFF ;
}
.header-mobile-buttons .header-nav-menu-dropdown .footecol-max8 .footemaxg{
	width: 197px;
	height: 94px;
	float: left;
	border: 0.1px solid #303030;
	background-color:#000000 ;
}
.header-mobile-buttons .header-nav-menu-dropdown .footecol-max8 .footemaxg:hover{
	transition: all .3s ease-in-out 0s;
	background-color:#FFFFFF ;
}
.header-mobile-buttons .header-nav-menu-dropdown .footecol-max8 .footemaxh{
	width: 197px;
	height: 94px;
	float: left;
	border: 0.1px solid #303030;
	background-color:#000000 ;
}
.header-mobile-buttons .header-nav-menu-dropdown .footecol-max8 .footemaxh:hover{
	transition: all .3s ease-in-out 0s;
	background-color:#FFFFFF ;
}

.header-mobile-buttons .footer-bottom-inner{
	width: 403px;
	height: 144px;
	float: left;
	margin-top: 40px;
}

.header-mobile-buttons .footer-bottom-inner h4{
	text-align: left;
	margin-bottom: 20px;
	font-size: 25px;
	line-height: 1;
	display: inline-block;
}
.header-mobile-buttons .footer-bottom-inner .footer-div{
	width: 403px;
	height: 54px;
	border: 0.1px solid #303030;
}
.header-mobile-buttons .footer-bottom-inner .footer-div .footer-inputa{
	width: 265px; 
	height: 30px; 
	font-size:22px;
	font-weight: 800;
	margin: 13px 0 0 15px;
	border:0px;
	background:none;
	outline:none;
}
.header-mobile-buttons .footer-bottom-inner .footer-div .footer-inputb{
	width: 96px; 
	height: 30px; 
	font-size:20px;
	color: #FFFFFF;
	font-weight: 800;
	margin: 13px 0 0 15px;
	border:0px;
	background:none;
	outline:none;
}
.header-mobile-buttons .footer-bottom-inner  .footer-socials{
	margin: 5px 0 0 15px;
	font-size: 20px;
}
/*.header-mobile-buttons .footer-bottom-inner  .footer-socials .icon-wechat:hover{
	
}*/
/*菜单按钮'三'结束*/

.header-top-con .header-text-con{
	width: 44%;
	height: 60px;
	float: left;
}
.header-top-con .header-text-con .header-text-ul{
	list-style: none;
}
.header-top-con .header-text-con .header-text-li{
	float: left;
	display: inline-block;
	text-align: center;
	line-height: 60px;
	margin-left: 20px;
	text-transform: uppercase;
    letter-spacing: 0;
    font-size: 16px;
    font-weight: 700; 
    color: #000000;
    cursor: pointer;//鼠标手形
}
.header-top-con .header-logo-con{
	width: 36px;
	height: 38px;
	float: left;
	margin-top: 10px;
}
.header-top-con .header-right-con{
	width: 466px;
	height: 60px;
	float: right;
	color: #000000;
	
}
.header-top-con .header-MLC{
	width: 220px;
	height: 60px;
	float: left;
	
}
.header-top-con .header-right-music{
	width: 52px;
	height: 20px;
	font-size: 11px;
	float: left;
	margin-top: 20px;
	
}
.header-top-con .header-right-login{
	width: 52px;
	height: 20px;
	font-size: 11px;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}
.header-top-con .header-right-cny{
	width: 52px;
	height: 20px;
	font-size: 11px;
	float: left;
	margin-left: 20px;
	margin-top: 22px;
}

.header-right-con .header-country-trigger{
	width: 60px;
	height: 60px;
	float: left;
	border-right: 1px solid #f1f1f1;
	border-left: 1px solid #f1f1f1;
}
.header-right-con .header-country-trigger .butts{
	width: 25px;
	height: 25px;
	margin: 0 20px 0 13px;
	
}

.header-right-con .header-country-trigger:hover{
	background-color: #000000;
	transition: all .3s ease-in-out 0s;
}
.header-right-con .header-country-trigger:hover #caidan{
	background-color: #000000;
	color: #FFFFFF;
	transition: all .3s ease-in-out 0.1s;
}
.header-right-con .header-country-trigger #caidan{
	text-align: center;
	line-height: 60px;
	color: #000000;
	font-size: 22px;
}

.header-right-con .header-country-search{
	width: 60px;
	height: 60px;
	float: left;
	border-right: 1px solid #f1f1f1;
}
.header-right-con .header-country-search .butts{
	width: 25px;
	height: 25px;
	margin: 0 20px 0 13px;
}
.header-right-con .header-country-search:hover{
	background-color: #000000;
	transition: all .3s ease-in-out 0s;
}
.header-right-con .header-country-search:hover #caidan{
	background-color: #000000;
	color: #FFFFFF;
	transition: all .3s ease-in-out 0.1s;
}
.header-right-con .header-country-search #caidan{
	text-align: center;
	line-height: 60px;
	color: #000000;
	font-size: 22px;
}

.header-right-con .header-country-wishlist{
	width: 60px;
	height: 60px;
	float: left;
	border-right: 1px solid #f1f1f1;
}
.header-right-con .header-country-wishlist .butts{
	width: 25px;
	height: 25px;
	margin: 0 20px 0 13px;
	
}
.header-right-con .header-country-wishlist:hover{
	background-color: #000000;
	transition: all .3s ease-in-out 0s;
	
}
.header-right-con .header-country-wishlist:hover #caidan{
	background-color: #000000;
	color: #FFFFFF;
	transition: all .3s ease-in-out 0.1s;
}
.header-right-con .header-country-wishlist #caidan{
	text-align: center;
	line-height: 60px;
	color: #000000;
	font-size: 22px;
}

.header-right-con .header-country-each{
	width: 60px;
	height: 60px;
	float: left;
	border-right: 1px solid #f1f1f1;
}

.header-right-con .header-country-each .butts{
	width: 25px;
	height: 25px;
	margin: 0 20px 0 13px;
}
.header-right-con .header-country-each:hover{
	background-color: #000000;
	transition: all .3s ease-in-out 0s;
}
.header-right-con .header-country-each:hover #caidan{
	background-color: #000000;
	color: #FFFFFF;
	transition: all .3s ease-in-out 0.1s;
}
.header-right-con .header-country-each #caidan{
	text-align: center;
	line-height: 60px;
	color: #000000;
	font-size: 22px;
}

/*discover*/
.seediv{
	display: none;
	position: absolute;
	width: 1358px;
	height: 330px;
	background-color: #FFFFFF;
	left: 0;
	right: 0;
	margin: auto;
}
.see:hover  .seediv{
	display: block;
}

.header-text-con .medium-up{
	width: 430px;
	height: 315px;
	margin-left: 22px;
	float: left;
	background-color: #FFFFFF;
}

.header-text-con .lookbook-dropdown{
	width: 398px;
	height: 56px;
}

.lookbook-dropdown #pres{
	width: 398px;
	height: 39px;
	font-size: 15px;
	font-weight: 100;
	line-height: 18px;
	display: inline-block;
	text-align: left;
	
}
.collection-grid-item{
	overflow: hidden;
	width: 392px;
	height: 250px;
}
.collection-grid-box{
	background-position: center;
	cursor: pointer;//鼠标手形
}
/*页面顶部结束*/


/*登录框开始*/
.login-con{
	width: 1358px;
	height: 1034px;
	margin: 0 auto;
    position: relative;
}

.login-con .login-content{
	width: 500px;
	height: 720px;
	background-color: #FFFFFF;
	position: absolute;
    top: 180px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.login-con .login-content .login-buta-each{
	width: 250px;
	height: 60px;
	float: left;
	font-size: 16px;
	font-weight: 800;
	background-color: #F8F8F8;
	text-align: center;
	line-height: 60px;
	color: #000000;
}
.login-con .login-content .login-buta-each:hover{
	background-color: #FFFFFF;
}
.login-con .login-content .login-butb-each{
	width: 250px;
	height: 60px;
	float: left;
	text-align: center;
	line-height: 60px;
	font-size: 16px;
	font-weight: 800;
	color: #000000;
}
.login-con .login-content .login-header{
	width: 340px;
	height: 60px;
	color: #000000;
	font-size: 55px;
	font-weight: 900;
	letter-spacing: 2px;
	margin:10px 0 0 80px ;
	font-family: "Druk Web",sans-serif;
}
.login-con .login-content .global-form-each,.global-form-eacha{
	width: 320px;
	height: 29px;
	border: 1px solid #DCDCDC;
	margin: 12px 0 0 80px;
	padding: 10px;
	color: #DCDCDC;
}
.login-con .login-content .global-form-each .global-form,.global-forma{
	width: 100%;
	height: 29px;
	font-size: 20px;
	border:0px;
	background:none;
	outline:none;
}
.login-con .login-content .global-but-block{
	width: 340px;
	height: 40px;
	color: #FFFFFF;
	background-color: #000000;
	border:1px solid #000000;
	border-radius: 20px;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
	font-weight: 500;
	margin: 20px 0 0 80px;
}
.login-con .login-content .global-text-link{
	display: inline-block;
	color: #878787;
	font-size: 12px;
	margin: 18px 0 0 80px;
}
.login-con .login-content .global-text-link:hover{
	color: #842225;
    border-color: #842225;
}
.login-con .login-content .global-customer_login{
	width:340px;
	height: 30px;
	border-top: 1px solid #DCDCDC;
	margin: 30px 0 0 80px;
}
.login-con .login-content #oyclwp{
	display: inline-block;
	margin-left: 80px;
	font-size: 12px;
	margin-bottom: 20px;
}

.login-con .login-content .social_facebook{
	width: 340px;
	height: 40px;
	background-color:#f2f2f2 ;
	border-radius: 5px;
	margin: 0 0 10px 80px;
	text-align: center;
	line-height: 40px;
}

.login-con .login-content .social_facebook #sofacebook{
	display: inline-block;
	float: left;
	margin-left: 20px;
	color: #000000;
}

.login-con .login-content .social_facebook #icon-book{
	float: right;
	margin-right: 6px;
	color: #000000;
	font-size: 24px;
	display: inline-block;
	
}
/*登录框结束*/

/*底部开始*/
.shopify-section-footer{
	width: 1358px;
	height: 345px;
	position: relative;
	background-color: #000000;
	margin-top: 60px;
}
.shopify-section-footer .header-nav-menu-dropdownb{
	width: 1358px;
	height: 275px;
	margin-top: 35px;
	background-color: #000000;
	position: absolute;
	
	
}
.shopify-section-footer .header-nav-menu-dropdownb .footecol-max8{
	width: 846px;
	height: 192px;
	float: left;
	margin: 40px 0 0 40px;
}
.shopify-section-footer .header-nav-menu-dropdownb .footecol-max8 .footemaxaa{
	width: 197px;
	height: 94px;
	float: left;
	border: 0.1px solid #303030;
	background-color:#000000 ;
}
.shopify-section-footer .header-nav-menu-dropdownb .footecol-max8 .footemaxaa:hover{
	transition: all .3s ease-in-out 0s;
	background-color:#FFFFFF ;
}
.shopify-section-footer .header-nav-menu-dropdownb .footecol-max8 .footemaxbb{
	width: 197px;
	height: 94px;
	float: left;
	border: 0.1px solid #303030;
	background-color:#000000 ;
}
.shopify-section-footer .header-nav-menu-dropdownb .footecol-max8 .footemaxbb:hover{
	transition: all .3s ease-in-out 0s;
	background-color:#FFFFFF ;
}
.shopify-section-footer .header-nav-menu-dropdownb .footecol-max8 .footemaxcc{
	width: 197px;
	height: 94px;
	float: left;
	border: 0.1px solid #303030;
	background-color:#000000 ;
}
.shopify-section-footer .header-nav-menu-dropdownb .footecol-max8 .footemaxcc:hover{
	transition: all .3s ease-in-out 0s;
	background-color:#FFFFFF ;
}
.shopify-section-footer .header-nav-menu-dropdownb .footecol-max8 .footemaxdd{
	width: 197px;
	height: 94px;
	float: left;
	border: 0.1px solid #303030;
	background-color:#000000 ;
}
.shopify-section-footer .header-nav-menu-dropdownb .footecol-max8 .footemaxdd:hover{
	transition: all .3s ease-in-out 0s;
	background-color:#FFFFFF ;
}

.shopify-section-footer .header-nav-menu-dropdownb .footecol-max8 .footemaxee{
	width: 197px;
	height: 94px;
	float: left;
	border: 0.1px solid #303030;
	background-color:#000000 ;
}
.shopify-section-footer .header-nav-menu-dropdownb .footecol-max8 .footemaxee:hover{
	transition: all .3s ease-in-out 0s;
	background-color:#FFFFFF ;
}

.shopify-section-footer .header-nav-menu-dropdownb .footecol-max8 .footemaxff{
	width: 197px;
	height: 94px;
	float: left;
	border: 0.1px solid #303030;
	background-color:#000000 ;
}
.shopify-section-footer .header-nav-menu-dropdownb .footecol-max8 .footemaxff:hover{
	transition: all .3s ease-in-out 0s;
	background-color:#FFFFFF ;
}
.shopify-section-footer .header-nav-menu-dropdownb .footecol-max8 .footemaxgg{
	width: 197px;
	height: 94px;
	float: left;
	border: 0.1px solid #303030;
	background-color:#000000 ;
}
.shopify-section-footer .header-nav-menu-dropdownb .footecol-max8 .footemaxgg:hover{
	transition: all .3s ease-in-out 0s;
	background-color:#FFFFFF ;
}
.shopify-section-footer .header-nav-menu-dropdownb .footecol-max8 .footemaxhh{
	width: 197px;
	height: 94px;
	float: left;
	border: 0.1px solid #303030;
	background-color:#000000 ;
}
.shopify-section-footer .header-nav-menu-dropdownb .footecol-max8 .footemaxhh:hover{
	transition: all .3s ease-in-out 0s;
	background-color:#FFFFFF ;
}

.shopify-section-footer .footer-bottom-inner{
	width: 403px;
	height: 144px;
	float: left;
	margin-top: 40px;
}

.shopify-section-footer .footer-bottom-inner h4{
	text-align: left;
	margin-bottom: 20px;
	font-size: 25px;
	line-height: 1;
	display: inline-block;
}
.shopify-section-footer .footer-bottom-inner .footer-div{
	width: 403px;
	height: 54px;
	border: 0.1px solid #303030;
}
.shopify-section-footer .footer-bottom-inner .footer-div .footer-inputa{
	width: 265px; 
	height: 30px; 
	font-size:22px;
	font-weight: 800;
	margin: 13px 0 0 15px;
	border:0px;
	background:none;
	outline:none;
}
.shopify-section-footer .footer-bottom-inner .footer-div .footer-inputb{
	width: 96px; 
	height: 30px; 
	font-size:20px;
	color: #FFFFFF;
	font-weight: 800;
	margin: 13px 0 0 15px;
	border:0px;
	background:none;
	outline:none;
}
.shopify-section-footer .footer-bottom-inner  .footer-socials{
	margin: 5px 0 0 15px;
	font-size: 20px;
}
.shopify-section-footer .footer-message{
	margin-top: 15px;
	margin-left: 40px;
	width: 345px;
	height: 20px;
	color: #FFFFFF;
	font-size: 10px;
	
}
.shopify-section-footer .footer-message p a {
	display: inline-block;
	float: right;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 10px;
}
/*底部结束*/
 









































